




body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  /* border: solid 15px red;
  animation: flash 1s linear infinite;
   */
}



#top-div{
  background-color: #e6ac61;
}

.top-div {
  color: rgb(22, 21, 21); /* dark gray */
  font-family: 'Open Sans', sans-serif;
  font-weight: 600; /* bold */
  text-shadow: 2px 2px rgb(179, 155, 89);
  text-align: center;
  width: 55rem;
  height: 16rem; /* take up the top 100 pixels of the screen */
  border: .5rem solid #0078D7; /* blue color used in Charter Spectrum logo */
  border-radius: 10px;
  position: absolute;
  top: -1rem;
  margin: 0;
}

.top-text{
  font-size: 1.5rem;
}

.bottom-text{
  font-size: 1rem;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

#info{
  top: 800px;
  text-align: center;
  font-size: 1rem;
  font-weight: 400; /* bold */
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5rem 3rem 5rem;
}

.container-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px; /* move container-div down to make space for top-div */
}

.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
}
.point-div{
  font-size: 25px;
  font-family: 'Open Sans', sans-serif;
}
#bigBox{
  margin-top: 17rem;
  background-color: white;
  border: .5rem solid #0078D7; /* blue color used in Charter Spectrum logo */
  border-radius: 10px;
  color:black;
  text-align: center;
  padding: 20px;
  width: 60vw;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.box {
  background-color: white;
  border: .5rem solid #0078D7; /* blue color used in Charter Spectrum logo */
  border-radius: 10px;
  color:black;
  text-align: center;
  padding: 1.5rem;
  width: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-div {
  text-align: center;
}

/*css for point and add overall points*/
  #rerollButton {
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
    height: 43px;
    background-color: #0078D7;
    color: rgb(255, 255, 255);
    border-color: #0078D7;
    border-radius: 25px;
    font-family: Averta PE Bold, sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin: auto;
    margin-right: 50px;

  }

  #resetButton {
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
    height: 43px;
    background-color: #0078D7;
    color: rgb(255, 255, 255);
    border-color: #0078D7;
    border-radius: 25px;
    font-family: Averta PE Bold, sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin: auto;
    margin-left: 50px;
  }


@keyframes flashRed {
  0% {background-color: transparent;}
  50% {background-color: red;}
  100% {background-color: transparent;}
} 

@keyframes flashGreen {
  0% {background-color: transparent;}
  50% {background-color: rgb(28, 241, 75);}
  100% {background-color: transparent;}
} 
