body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  /* border: solid 15px red;
  animation: flash 1s linear infinite;
   */
}


#top-div{
  background-color: #e6ac61;
}

.top-div {
  color: rgb(22, 21, 21); /* dark gray */
  font-family: 'Open Sans', sans-serif;
  font-weight: 600; /* bold */
  text-shadow: 2px 2px rgb(179, 155, 89);
  text-align: center;
  width: 55rem;
  height: 16rem; /* take up the top 100 pixels of the screen */
  border: .5rem solid #0078D7; /* blue color used in Charter Spectrum logo */
  border-radius: 10px;
  position: absolute;
  top: -1rem;
  margin: 0;
}



.bottom-text{
  font-size: 1rem;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}


.container-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px; /* move container-div down to make space for top-div */
}

.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
}

#bigBox{
  margin-top: 17rem;
  background-color: white;
  border: .5rem solid #0078D7; /* blue color used in Charter Spectrum logo */
  border-radius: 10px;
  color:black;
  text-align: center;
  padding: 20px;
  width: 60vw;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.box {
  background-color: white;
  border: .5rem solid #0078D7; /* blue color used in Charter Spectrum logo */
  border-radius: 10px;
  color:black;
  text-align: center;
  padding: 1rem;
  font-size: 1.25rem;
  width: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.armBox {
  position: absolute;
  background-color: #f8f8f8;
  border: .1rem solid #0078D7; /* blue color used in Charter Spectrum logo */
  border-radius: 10px;
  color:black;
  text-align: center;
  padding: 3rem;
  font-size: 1.25rem;
  min-width: 20rem;
  align-items: center;
  justify-content: center;
  z-index: 10;
  transform: translate(0,-75%);
}

.arm-text{
  font-size: 1rem;
  font-weight: bold;
}

/*css for point and add overall points*/



/* option slide  */
.toggle-switch {
  margin-top: 2rem;
  position: relative;
  width: 3.75rem;
  height: 2.125rem;
  grid-template-columns: 1fr auto;
  align-items: center;
  margin-left: 5rem;
}

.toggle-switch input[type="checkbox"] {
  display: none;
}

.toggle-switch label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 2.125rem;
  background-color: #ccc;
  cursor: pointer;
}

.toggle-switch label:before {
  content: "";
  position: absolute;
  top: 0.25rem;
  left: 0.25rem;
  width: 1.625rem;
  height: 1.625rem;
  border-radius: 1.625rem;
  background-color: #fff;
  transition: 0.3s;
}

.toggle-switch input[type="checkbox"]:checked + label {
  background-color: #66bb6a;
}

.toggle-switch input[type="checkbox"]:checked + label:before {
  transform: translateX(1.625rem);
}

.optionText {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
  font-weight: bold;
  color: rgb(0, 0, 0);
  left: 100%;
  margin-left: 0.625rem;
  white-space: nowrap;
}

/*lower */
.lowerContainer {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction:column;
}

.point-div{
  text-align: center;
  justify-content: center;
  white-space: nowrap;
}

.pointContainer{
  margin: -2rem 0 3rem 0;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
}

#rerollButton, #resetButton {
  width: auto;
  background-color: #0078D7;
  color: rgb(255, 255, 255);
  border-color: #0078D7;
  border-radius: 25px;
  padding: .75rem;
  font-size: 1.2rem;
  margin: auto;
}

#info{
  text-align: center;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 4rem 3rem 4rem;
}



.pulse-green {
  animation: flashGreen 1s infinite;
}

.pulse-red {
  animation: flashRed 1s infinite;
}


@keyframes pulseRed {
  0% {background-color: transparent;}
  50% {background-color: red;}
  100% {background-color: transparent;}
} 

@keyframes pulseGreen {
  0% {background-color: transparent;}
  50% {background-color: rgb(28, 241, 75);}
  100% {background-color: transparent;}
} 




.overlay-centerline {
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: #000;
}


